body {
    font-family: 'Poppins', sans-serif;
    background-color: #030712;
}

.font-impact {
    font-family: 'Bebas Neue', sans-serif;
}

.text-cyan-neon {
    color: #00e5ff;
}

.bg-cyan-neon {
    background-color: #00e5ff;
}

.border-cyan-neon {
    border-color: #00e5ff;
}

@keyframes reboteCarrito {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.35);
    }
    100% {
        transform: scale(1);
    }
}

.animar-carrito {
    animation: reboteCarrito 0.35s ease;
}
