body {
    font-family: 'Poppins', sans-serif;
    background-color: #030712;
}

.font-impact {
    font-family: 'Bebas Neue', sans-serif;
}

.text-cyan-neon {
    color: #00e5ff;
}

.bg-cyan-neon {
    background-color: #00e5ff;
}

.border-cyan-neon {
    border-color: #00e5ff;
}

@keyframes reboteBoton {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.08);
    }

    100% {
        transform: scale(1);
    }
}

.animar-boton {
    animation: reboteBoton 0.35s ease;
}
