body {
    font-family: 'Poppins', sans-serif;
    background-color: #030712;
}

.font-impact {
    font-family: 'Bebas Neue', sans-serif;
}

.text-cyan-neon {
    color: #00e5ff;
}

.bg-cyan-neon {
    background-color: #00e5ff;
}

.border-cyan-neon {
    border-color: #00e5ff;
}
